*,
*::after,
*::before {
  box-sizing: border-box;
}
.body {
  background: #171717;
  padding-top: 46px;
  padding-bottom: 238px;
  font-family: "Gilam", sans-serif;
}

.container {
  width: 1460px;
  margin-left: auto;
  margin-right: auto;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header {
  margin-bottom: 128px;
}

.callback {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  text-decoration: none;
  border: 1px solid #e4b564;
  padding: 10px 25px;
}
.callback-img {
  margin-right: 10px;
}
.main-text {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
.text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 41px;
}
.installation-work {
  display: grid;
  grid-template-columns: 467px 219px 219px 467px;
  gap: 27px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  grid-template-areas:
    "item-1 item-2 item-2 item-3"
    "item-4 item-4 item-5 item-5";
}
.installation-work__item {
  padding: 40px;
  background-color: #634f2c;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  min-height: 468px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.item1 {
  grid-area: item-1;
}
.item2 {
  grid-area: item-2;

  background: #b4a385;
}
.item3 {
  grid-area: item-3;

  background: #e4b564;
}
.item4 {
  grid-area: item-4;

  background: #635a4a;
}
.item5 {
  grid-area: item-5;

  background: #b08c4d;
}
/**********************************************section2************************/
.park {
  margin-top: 161px;
  padding-bottom: 191px;
}
.main-text-park {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 94px;
}
.construction-machinery {
  display: flex;
  justify-content: space-between;
}
.flex1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item11 {
  padding-top: 44px;
  padding-right: 120px;
  padding-bottom: 219px;
  padding-left: 52px;
  width: 467px;
  background: #0e0e0e;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 24px;
}
.item12 {
  padding-top: 56px;
  padding-right: 120px;
  padding-bottom: 479px;
  padding-left: 52px;
  background: #1f1f1f;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  width: 467px;
}
.flex2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item21 {
  padding-top: 44px;
  padding-right: 114px;
  padding-bottom: 345px;
  padding-left: 21px;
  background: #242424;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  width: 467px;
  margin-bottom: 33px;
}
.item22 {
  padding-top: 47px;
  padding-right: 113px;
  padding-bottom: 333px;
  padding-left: 52px;
  background: #e4b564;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  width: 467px;
}
.flex3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item31 {
  padding-top: 44px;
  padding-right: 117px;
  padding-bottom: 186px;
  padding-left: 48px;
  background: #1f1f1f;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  width: 467px;
  margin-bottom: 26px;
}
.item32 {
  padding-top: 44px;
  padding-right: 117px;
  padding-bottom: 244px;
  padding-left: 48px;
  background: #0e0e0e;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  width: 467px;
  margin-bottom: 26px;
}
.item33 {
  padding-top: 44px;
  padding-right: 117px;
  padding-bottom: 208px;
  padding-left: 48px;
  background: #0a0909;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  width: 467px;
}
/***************************section3*****************************************************/
.client {
  padding-top: 172px;
  background: #0a0909;
}
.header-client {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-client {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  text-decoration: none;
  border: 1px solid #e4b564;
  padding: 10px 40px;
}
.text2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 72px;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  grid-template-areas:
    "item-41 item-42 item-43"
    "item-44 item-45 item-46 ";
}
.item41 {
  grid-area: item-41;
  background: #634f2c;
  padding: 171px 151px;
}
.item42 {
  grid-area: item-42;
  background: rgba(232, 210, 171, 0.76);
  padding: 61px 80px;
  text-align: center;
}
.img-mavic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mavic-list {
  text-align: center;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.text-mavic {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}
.text-mavic-bold {
  font-weight: 600;
}
.item43 {
  grid-area: item-43;
  background: #e4b564;
  padding: 171px 151px;
}
.item44 {
  grid-area: item-44;
  background: #635a4a;
  padding: 171px 151px;
}
.item45 {
  grid-area: item-45;
  background: #b08c4d;
  padding: 171px 151px;
}
.item46 {
  grid-area: item-46;
  background: #634f2c;
  padding: 171px 151px;
}
